/* General ********************************************************************/
body {
  padding: 10px;
}

.main_header {
  margin: 10px 20px 10px 20px;
  color: #26a69a;
  font-weight: bold;
  /* border: 1px solid black; */
}

.header {
  margin: 10px 20px 10px 20px;
  /* border: 1px solid black; */
}
/******************************************************************************/

/* Chart Div ******************************************************************/
#chart_div {
  margin: 20px;
  padding: 20px;
  display: inline-block;
  float: left;
  width: 800px;
  height: 420px;
  border: 1px solid #26a69a;
}
/******************************************************************************/

/* Selection Div **************************************************************/
#selection_div {
  margin: 20px;
  padding: 20px;
  height: 400px;
  display: inline-block;
  float: left;
  border: 1px solid #26a69a;
  /* text-align: center; */
}
/******************************************************************************/

/* Country Selection **********************************************************/
#change_country_div {
  margin: 10px;
}

#note {
  font-size: 0.7em;
  font-style: italic;
  margin-bottom: 0;
}

#current_country_header {
  margin: 0 0 10px 0;
}

#current_country {
  color: #26a69a;
  font-weight: bold;
}
/******************************************************************************/

/* Factor Selection ***********************************************************/
#change_factor_div {
  margin: 30px 10px;
}
/******************************************************************************/
